.navbar-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.post-content {
  display: flex;
}

.icons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.gallery {
  display: flex;
}

.small-pictures {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
}